<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TOKEN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/tokenform}" th:object="${person}" method="post">
    <p>UserName: <input type="text" th:field="*{username}" /></p>
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Edi: <input type="text" th:field="*{edi}" /></p>
    <p>FirstName: <input type="text" th:field="*{firstName}" /></p>
    <p>LastName: <input type="text" th:field="*{lastName}" /></p>
    <p>MiddleName: <input type="text" th:field="*{middleName}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>